doctype html
html
    head
        meta(charset="UTF-8")
        title zone
        style
            include style.css
        script
            include library/blitsy.js
        script
            include script.js
    body
        #main
            #content
                #insert
                    #noyoutube 
                        span youtube has not loaded
                    #youtube
                canvas#scene-canvas(width=512, height=512)
        #chat
            #user-list
            canvas#chat-canvas(width=512, height=512)
            input#chat-name(type="text", placeholder="your name...")
            input#chat-input(type="text", placeholder="chat message...")
            #commands
                ul
                    li <b>press tab</b> - toggle typing/controls
                    li <b>press q</b> - show queue
                    li <b>press 1/2/3</b> - toggle emotes
                    li <b>/youtube videoId</b>
                    li <b>/search some search terms</b>
