doctype html
html
    head
        meta(charset="UTF-8")
        title zone
        style
            include style.css
        script
            include library/blitsy.js
        script
            include script.js
    body
        #main
            #scene
                #insert
                    #noyoutube 
                        span youtube has not loaded
                    #youtube
                canvas#scene-canvas(width=512, height=512)
            canvas#chat-canvas(width=512, height=512)
        #chat
            input#chat-name(type="text", placeholder="your name...")
            input#chat-input(type="text", placeholder="chat message...")
