doctype html
html
    head
        meta(charset="UTF-8")
        title zone
        style
            include style.css
        script
            include script.js
    body
        img(src="frame.png", hidden)
        #content
            #insert
                #noyoutube 
                    span youtube has not loaded
                #youtube
            canvas(width=512, height=512)
        #chat
            input#server-input(type="text", placeholder="server address...")
            #chat-log
            input#chat-name(type="text", placeholder="your name...")
            input#chat-input(type="text", placeholder="chat message...")
