doctype html
html(lang="en-gb")
    head
        title zone
        meta(charset="utf-8")
        style
            include style.css
        script
            include script.js
    body(onload="load()")
        #zone
            #youtube
            #background
            canvas.player-avatar
        #customisation
            input(type="text" id="player-name" value="asdf")
            #avatar-editor
                - let n = 0;
                while n < 64
                    input(type="checkbox" checked=(n % 2 === 0))
                    - n++
        #chat
            input#server-input(type="text", placeholder="server address...")
            #chat-log
            input#chat-input(type="text", placeholder="chat message...")
