doctype html
html
    head
        title zone
        style
            include style.css
        script
            include script.js
    body(onload="load()")
        #chat
            input#server-input(type="text", placeholder="server address...")
            #chat-log
            input#chat-input(type="text", placeholder="chat message...")
