doctype html
html
    head
        meta(charset="UTF-8")
        title zone
        style
            include style.css
        script
            include library/blitsy.js
        script
            include script.js
    body
        #content
            #insert
                #noyoutube 
                    span youtube has not loaded
                #youtube
            canvas(width=512, height=512)
        #queue
            #queue-log
            #commands
                ul
                    li <b>press t</b> - focus chat input
                    li <b>press esc</b> - unfocus chat input
                    li <b>press q</b> - show queue
                    li <b>press 1/2/3/4</b> - switch emote
                    li <b>/youtube videoId</b>
                    li <b>/search some search terms</b>
                    li <b>/emotes wvy rbw shk</b>
        #chat
            input#server-input(type="text", placeholder="server address...")
            #chat-log
            input#chat-name(type="text", placeholder="your name...")
            input#chat-input(type="text", placeholder="chat message...")
