* { box-sizing: border-box; }

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    background: black;
    font-size: 1.2rem;
}

input {
    font-size: 1.2rem;
}

input:focus {
    border: solid red 3px;
}

body {
    display: flex;
    flex-direction: column;

    width: 1024px;
    position: absolute;

    left: calc((100vw - 1024px) / 2);
}

#main {
    position: relative;
    display: flex;
    flex-direction: row;
}

#chat-canvas {
    flex: 0;
    width: 512px;
    height: 512px;
}

#chat {
    background: white;

    display: flex;
    flex-direction: column;
}

#user-list {
    overflow-y: auto;
    flex: 1;

    margin: 2px;
    padding: 2px;
    border: 2px solid black;
}

#commands {
    overflow-y: auto;
}

#scene {
    width: 512px;
    height: 512px;

    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
}

#insert {
    position: absolute;
    left: 32px; top: 32px;
    width: 448px; height: 252px;
    pointer-events: none;
    /*z-index: -1;*/
}

#noyoutube {
    position: absolute;
    width: 100%; height: 100%;

    z-index: -2;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
}

#youtube {
    position: absolute;
    width: 100%; height: 100%;
    mix-blend-mode: screen;
}
